* {
  /*Universal selector : to include padding and border in element's total width and height */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* Sets background color */
  background-color: #d9dcd6;
}

header {
  padding: 20px;
  /* setting the font type used in header class */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* Sets background color */
  background-color: #2a607c;
  /* Using hex codes to define color */
  color: #ffffff;
}

header h1 {
  /* to display item horizontally instead of vertically */
  display: inline-block;
  font-size: 48px;
}

header h1 .seo {
  /* Using hex codes to define color */
  color: #d9dcd6;
}

/* for nav */
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  /* setting the font type used in header class */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* for nav */
header nav ul {
  list-style-type: none;
}

/* for nav */
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  /* Using hex codes to define color */
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  /* to change link color on hover */
  color: aqua;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.hero {
  /*Setting the height and width of the section */
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  /* setting the font type used in benefits class */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* Using hex codes to define background color */
  background-color: #2589bd;
}

.benefit-lead {
  margin-bottom: 32px;
  /* Using hex codes to define color */
  color: #ffffff;
}

.benefit-brand {
  margin-bottom: 32px;
  /* Using hex codes to define color */
  color: #ffffff;
}

.benefit-cost {
  margin-bottom: 32px;
  /* Using hex codes to define color */
  color: #ffffff;
}

.benefit-lead h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-brand h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/*article-section start*/
.article-section {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* Using hex codes to define background color */
  background-color: #0072bb;
  /* Using hex codes to define color */
  color: #ffffff;
}

.article-section img {
  max-height: 200px;
}

.article-section h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/*article-section end*/

.footer {
  padding: 30px;
  clear: both;
  /* setting the font type used in footer class */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer {
  padding: 30px;
  clear: both;
  /* setting the font type used in footer class */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
